/* |---- Imporatando la fuente ----| */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700&family=Righteous&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}


/* a {
  color: white;
  text-decoration: none;
} */

html {
    font-size: 62.5%
}

:root {
    --font: 'Righteous', cursive;
    --black-blue: #0A88C2;
    --soft-blue: #858AE3;
    --plump-violet: #613DC1;
    --blue-violet-soft: #4E148C;
    --blue-violet-dark: #5B0D6D;
    --blue-violet-shadow: #2c0036;
    --light: #ffffff;
    --dark-violet: #171629;
    --indigo: #1f1d35;
    --grey: #202c33;
    --tier-s: #dba514;
    --tier-a: var(--blue-violet-soft);
    --tier-b: #841922;
}

body {
    font-family: var(--font);
    background-color: var(--dark-violet);
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0px 20px;
    margin-bottom: 50px;
}

.header__name {
    display: flex;
    align-items: center;
    color: var(--light);
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-shadow: 0 0 10px var(--blue-violet-soft), 0 0 40px var(--blue-violet-soft), 0 0 80px var(--blue-violet-soft);
    width: 50%;
    height: 100%;
    text-decoration: none;
}

.menu__user {
    width: 50%;
    height: 100%;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__select {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__user {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.menu__item a {
    position: relative;
    display: inline-block;
    padding: 10px 22px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s;
}

.menu__item a:hover {
    background-color: var(--blue-violet-soft);
    box-shadow: 0 0 25px var(--blue-violet-soft), 0 0 50px var(--blue-violet-soft), 0 0 75px var(--blue-violet-soft);
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a .neon1 {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon1 {
    left: 100%;
    transition: 1s;
}

a .neon2 {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon2 {
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}

a .neon3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(2700deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon3 {
    right: 100%;
    transition: 1s;
    transition-delay: .5s;
}

a .neon4 {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(360deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}

.menu__container {
    width: 100%;
    height: 100%;
}

.menu__item a {
    color: var(--light);
    text-decoration: none;
}

.logo_admin {
    width: 50px;
    height: 50px;
}

.menu__item_admin {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__item_admin h5 {
    font-size: 2rem;
    color: #ffffff;
}


/* end header */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 10px;
}

.character__container {
    display: flex;
    position: relative;
    width: 1200px;
    height: 450px;
    background-image: linear-gradient(-26deg, transparent 5%, var(--tier-b) 0% 95%, transparent 95%);
    z-index: 1;
    border-radius: 5px;
}

.character__container::after {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(-26deg, rgba(132, 25, 34, 1) 10%, rgba(255, 255, 255, 0) 50%, rgba(132, 25, 34, 1) 100%);
    left: 0px;
    top: 200px;
    right: 0px;
    z-index: 3;
    width: 100%;
    height: 150px;
}

.character__container::before {
    /* content: url('../source/img/fondoNuevo.png'); */
    content: '';
    background-image: linear-gradient(-26deg, transparent 5%, var(--indigo) 0% 95%, transparent 95%);
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    display: block;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
}

.character__container img {
    position: relative;
    left: 0px;
    top: 50px;
    width: auto;
    height: 380px;
    z-index: 4;
}

.character__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 60px;
    top: 20px;
    width: 450px;
    height: 250px;
    background-image: linear-gradient(-26deg, transparent 5%, var(--tier-b) 0% 95%, transparent 95%);
    z-index: 5;
    border-radius: 5px;
    color: var(--light);
    padding: 10px 0px 10px 0px;
}

.character__name {
    font-size: 2rem;
    z-index: 99;
}

.character__data {
    width: 90%;
    height: 100%;
    padding: 4px;
    z-index: 99;
}

.nft_name-title {
    display: flex;
    /* justify-content: flex-start; */
    width: 50%;
    font-size: 1.8rem;
    margin-bottom: 6px;
    z-index:99;
    
}

.answer {
    display: flex;
    justify-content: flex-end;
}

.character__data {
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

.character__stats::after {
    /* content: url('../source/img/fondoNuevo.png'); */
    content: '';
    background-image: linear-gradient(-26deg, transparent 5%, var(--dark-violet) 0% 95%, transparent 95%);
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    display: block;
    position: absolute;
    border-radius: 5px;
    z-index: 6;
}

.actions {
    position: absolute;
    top: 451px;
    left: 880px;
    width: 220px;
    height: 100px;
    z-index: 99;
}

/* |---- button ----| */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-size: 1.6rem;
    padding: 20px 50px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(219, 165, 20, 0.1) 1%, transparent 40%,transparent 60% , rgb(219, 165, 20,0.1) 100%);
    /* color: var(--green); */
    box-shadow: inset 0 0 10px rgba(219, 165, 20, 0.4), 0 0 9px 3px rgba(219, 165, 20, 0.1);
    cursor: pointer;
}
   
button:hover {
    color: var(--tier-s);
    box-shadow: inset 0 0 10px rgba(219, 165, 20, 0.6), 0 0 9px 3px rgba(219, 165, 20, 0.2);
}
   
button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(255, 200, 50, 0.1) 40%,rgba(255, 211, 92, 0.1) 60% , transparent 100%);
}
   
button:hover:before {
    transform: translateX(15em);
}

button img {
    width: 30px;
    height: 30px;
}
