@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Righteous', cursive;
    background: linear-gradient(279.28deg, rgba(98, 36, 98, 0) -22.47%, #CB96F4 -17.37%, #171629 75.76%);
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-image: url('../source/img/logoBattlePaint1.svg');
    background-size: 76px, 72px;
    background-repeat: no-repeat;
    margin-left: 1%;
    margin-top: 5px;
}

header .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
}

header .links a {
    font-size: 2.2rem;
    color: #FFFFFF;
    transition: all 100ms;
}

header .links a:hover {
    text-decoration: underline;
    transform: scale(1.15);
}

header .boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

header .boton__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 71px;
    left: 1094px;
    top: 19px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: all 100ms;
}

header .boton__container:hover {
    transform: scale(1.10);
}

header .boton__container .boton__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: #FFFFFF;
}


/* Fin del Header */


/* Home */

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home .home__divisor--up {
    display: flex;
    flex-direction: row;
}

.home__divisor--up .home__logo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.home__divisor--up .home__logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 528px;
    height: 422px;
}

.home__divisor--up .hashtag {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212F45;
    font-size: 2rem;
}

.home__divisor--up .home__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-image: url("../source/img/figure2.svg");
    background-repeat: no-repeat;
    background-position: right, bottom;
    background-position-x: 340px;
    background-size: 350px;
}

.home__divisor--up .home__description p {
    width: 65%;
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    text-align: center;
}

.home .home__divisor--down {
    display: flex;
    flex-direction: row;
}

.home__divisor--down .home__players {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.home__divisor--down .home__players .home_players--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 515px;
    height: 82px;
    background: rgba(255, 255, 255, 0.2);
}

.line {
    display: flex;
    width: 11px;
    height: 82px;
    background: #FFFFFF;
}

.home__players--number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}

.home__divisor--down .home__marketplace {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding: 10px;
}

.home__divisor--down .home__marketplace img {
    display: flex;
    width: 80px;
}


/*Fin de Home*/


/*Gameplay*/

.gameplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../source/img/fondo3.svg');
    background-size: 1366px, 882px;
    background-position-y: -120px;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.baldes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baldes img {
    width: 60%;
}

.gameplay__title h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 4rem;
    text-shadow: 0px 4px 4px #000000;
}

.gameplay__text {
    width: 400px;
    color: #000000;
    font-size: 2rem;
    text-align: center;
    margin: auto 0;
}

.gameplay__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.gameplay__description--video {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 50px;
}

.video {
    width: 482px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
    border-radius: 10px;
}

.video__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videotext {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 180px;
    font-size: 3rem;
}


/*Fin de Gameplay*/


/*Coins*/

.coins {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.coins__title h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 4rem;
    text-shadow: 0px 4px 4px #000000;
}

.coins__name h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 2rem;
    margin-top: 50px;
    text-decoration: underline;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 3rem;
}

.coins__description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coins__slider {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(57.77% 57.77% at 50% 50%, #FFFFFF 0.01%, #413E3E 0.02%, rgba(113, 113, 113, 0) 85.42%);
    border: 2px solid #0A88C2;
    border-radius: 10px;
    box-shadow: 0 0 2px #0A88C2, 0 0 4px #0A88C2, 0 0 6px #0A88C2;
    margin-top: 20px;
}

.coin__description--1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block-1 {
    margin-right: 50px;
}

.block-3 {
    margin-left: 50px;
}

.card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 131px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) -16.03%, rgba(255, 0, 0, 0) 70.99%);
    border-radius: 5px;
    margin-top: 80px;
}

.card-1 .titulo {
    color: #FFFFFF;
    font-size: 2.5rem;
    position: relative;
    bottom: 50px;
}

.card-1 .play {
    position: relative;
    bottom: 45px;
}

.card-1 img {
    position: relative;
    bottom: 50px;
}

.slidersc {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

.sliders {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 40px;
}

.slidersc img {
    margin: 10px;
}

.sliders img {
    margin: 10px;
}


/*Fin de Coins*/


/*NFT's Items*/

.items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.items__title h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 4rem;
    text-shadow: 0px 4px 4px #000000;
    margin-bottom: 50px;
}

.nft__container {
    display: grid;
    grid-template: repeat(1, 360px)/ repeat(4, 290px);
    gap: 32px;
    width: 1255px;
    height: auto;
    /* border: 1px solid var(--black-blue); */
    margin: 0px auto;
    padding-top: 20px;
}

.nft__card {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #4E148C;
    border-radius: 30px 15px;
    background-image: linear-gradient(180deg, rgba(97, 61, 193, 0) 0%, rgba(97, 61, 193, 1) 100%);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
}

.nft__card:hover {
    box-shadow: 0 0 25px #4E148C, 0 0 50px #4E148C, 0 0 75px #4E148C;
}

.nft__img {
    position: absolute;
    width: 290px;
    z-index: 0;
}

.nft__card .nft__name {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 211px;
    width: 100%;
    height: 62px;
    background-image: linear-gradient(180deg, rgba(97, 61, 193, 0) 0%, rgba(97, 61, 193, 1) 100%);
}

.nft__name h3 {
    color: white;
    font-size: 2.2rem;
    font-weight: 400;
    text-shadow: 2px 1px black;
}

.nft__name p {
    color: rgb(85, 184, 241);
    font-size: 1.7rem;
    font-weight: 400;
    text-shadow: 2px 1px black;
}

.nft__card .nft__price {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 210px;
    width: 100%;
    height: 84px;
    background-color: #1f1d35;
    border-radius: 0px 0px 30px 15px;
    padding: 8px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

.price h4 {
    font-size: 1.4rem;
    color: #ffffff;
    margin-left: 10px;
}

.price__pay {
    display: flex;
    align-items: center;
    height: 100%;
}

.price__pay img {
    width: 25px;
    height: 25px;
}

.nft__rank {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid #4E148C;
    background-image: linear-gradient(180deg, rgba(97, 61, 193, 0) 0%, rgba(97, 61, 193, 1) 100%);
}

.nft__rank h4 {
    color: #ffffff;
    font-size: 1.8rem;
}

.nft__card:nth-child(2) {
    background-image: linear-gradient(180deg, rgba(219, 165, 20, 0) 0%, rgba(252, 194, 1, 1) 100%);
    ;
    border: 3px solid #dba514;
}

.nft__card:nth-child(2):hover {
    box-shadow: 0 0 25px #dba514, 0 0 50px #dba514, 0 0 75px #dba514;
}

.nft__card:nth-child(2) .nft__rank {
    border: 3px solid #dba514;
    background-image: linear-gradient(180deg, rgba(219, 165, 20, 0) 0%, rgba(252, 194, 1, 1) 100%);
}

.nft__card:nth-child(2) .nft__name {
    background-image: linear-gradient(180deg, rgba(219, 165, 20, 0) 0%, rgba(252, 194, 1, 1) 100%);
}

.nft__card:nth-child(2) .nft__name p {
    color: #856a20;
}

.nft__card:nth-child(3) {
    background-image: linear-gradient(180deg, rgba(203, 9, 9, 0) 0%, rgba(132, 25, 34, 1) 100%);
    border: 3px solid #841922;
}

.nft__card:nth-child(3):hover {
    box-shadow: 0 0 25px #841922, 0 0 50px #841922, 0 0 75px #841922;
}

.nft__card:nth-child(3) .nft__rank {
    background-image: linear-gradient(180deg, rgba(203, 9, 9, 0) 0%, rgba(132, 25, 34, 1) 100%);
    border: 3px solid #841922;
}

.nft__card:nth-child(3) .nft__name {
    background-image: linear-gradient(180deg, rgba(203, 9, 9, 0) 0%, rgba(132, 25, 34, 1) 100%);
}

.nft__card:nth-child(3) .nft__name p {
    color: #c52634;
}

.return__container {
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #613DC1;
    box-shadow: 3px 5px 10px #1f1d35;
}

.return__container:hover {
    box-shadow: 0 0 25px #613DC1, 0 0 50px #613DC1, 0 0 75px #613DC1;
}

.return__container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.return__container a img {
    width: 100%;
    height: 100%;
}


/*Fin de NFT's Items/


/*Developers*/

.developers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.developers__title h3 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 4rem;
    text-shadow: 0px 4px 4px #000000;
}

.developers__imagenes {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.developers__imagenes img {
    width: 325px;
    height: 325px;
}


/*Fin de Developers*/


/*partners*/

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../source/img/fondo2\ 2.svg");
    background-repeat: no-repeat;
    background-position-y: 60px;
}

.partners__title h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 4rem;
    text-shadow: 0px 4px 4px #000000;
}

.partners__imagenes {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.partners__imagenes img {
    width: 320px;
    height: 320px;
}


/*Fin de partnets*/