@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700&family=Righteous&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

html {
    font-size: 62.5%
}

:root {
    --font: 'Righteous', cursive;
    --black-blue: #0A88C2;
    --soft-blue: #858AE3;
    --plump-violet: #613DC1;
    --blue-violet-soft: #4E148C;
    --blue-violet-dark: #5B0D6D;
    --blue-violet-shadow: #2c0036;
    --light: #ffffff;
    --dark-violet: #171629;
    --indigo: #1f1d35;
    --grey: #202c33;
}

body {
    font-family: var(--font);
    background-color: var(--dark-violet);
    overflow-x: hidden;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.header__name {
    display: flex;
    align-items: center;
    color: var(--light);
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-shadow: 0 0 10px var(--blue-violet-soft), 0 0 40px var(--blue-violet-soft), 0 0 80px var(--blue-violet-soft);
    width: 50%;
    height: 100%;
    text-decoration: none;
}

.menu__user {
    width: 50%;
    height: 100%;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__select {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__user {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__item a {
    position: relative;
    display: inline-block;
    padding: 10px 22px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s;
}

.menu__item a:hover {
    background-color: var(--blue-violet-soft);
    box-shadow: 0 0 25px var(--blue-violet-soft), 0 0 50px var(--blue-violet-soft), 0 0 75px var(--blue-violet-soft);
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a .neon1 {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient( 90deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon1 {
    left: 100%;
    transition: 1s;
}

a .neon2 {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background-image: linear-gradient( 180deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon2 {
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}

a .neon3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient( 2700deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon3 {
    right: 100%;
    transition: 1s;
    transition-delay: .5s;
}

a .neon4 {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background-image: linear-gradient( 360deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}

.menu__container {
    width: 100%;
    height: 100%;
}

.menu__item a {
    color: var(--light);
    text-decoration: none;
}
/* end header */

/* main */
.main {
    width: 100%;
    height: 686px;
    margin-top: 30px;
    font-size: 15px;
    color: var(--light);
    background-image: url('../source/img/fondo3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -129px;
}

.register {
    width: 60%;
    height: 560px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(180deg, var(--dark-violet) 20%, var(--blue-violet-soft) 100%);
    border: 3px solid var(--blue-violet-soft);
    border-radius: 50px 15px;
}

.register__title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.register__block {
    width: 50%;
}

.one {
    float: left;
}

.two {
    float: right;
}

.three {
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
}

.register__group {
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

label {
    display: flex;
    padding: 5px 10px 10px 60px;
    cursor: pointer;
}

.group__input {
    position: relative;
}

[type='text'],
[type='number'],
[type='password'],
[type='email'],
[type='date'],
select {
    width: 80%;
    height: 4rem;
    line-height: 4rem;
    padding: 0 20px;
    color: var(--light);
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 2rem;
    border-color: white;
}

::-webkit-calendar-picker-indicator {
    display: flex;
    margin-right: auto;
    background-color: white;
    border-radius: .3rem;
}

select option {
    padding: 0.5rem;
    color: black;
}

select::placeholder {
    color: white;
}

.register__input--error {
    margin-top: 10px;
    font-size: 12px;
    display: none;
}

.register__input--error-active {
    display: block;
}

.form__validation--state {
    position: relative;
	right: 35px;
	z-index: 100;
	font-size: 16px;
    opacity: 0;
}

.register__message {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    background-color: #bb2929;
    border-radius: 5px;
    display: none;
}

.register__message-active {
    display: block;
}

.register__block--cta {
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
}

.register__block--button {
    width: 20rem;
    height: 5rem;
    margin-bottom: 5px;
    color: inherit;
    background-color: rgba(255, 255, 255, 20%);
    border: none;
    border-left: 8px solid var(--light);
    cursor: pointer;
}

.register__block--link {
    display: block;
    margin-bottom: 15px;
    color: inherit;
}

.register__complete {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    background-color: #1ed12d;
    border-radius: 5px;
    display: none;
}

.register__complete-active {
    display: block;
}

/* styles for validations */
.register__group--correct .form__validation--state {
    color: #1ed12d;
    opacity: 1;
}

.register__group--incorrect .register__block--label {
    color: #bb2929;
}

.register__group--incorrect .form__validation--state {
    color: #bb2929;
    opacity: 1;
}

.prueba {
    grid-column: span 2;
}

/* mediaqueries */

/* end main */