/* |---- Imporatando la fuente ----| */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700&family=Righteous&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}

html{
  font-size: 62.5%
}

:root {
  --font: 'Righteous', cursive;
  --black-blue: #0A88C2;
  --soft-blue: #858AE3;
  --plump-violet: #613DC1;
  --blue-violet-soft: #4E148C;
  --blue-violet-dark: #5B0D6D;
  --blue-violet-shadow: #2c0036;
  --light: #ffffff;
  --dark-violet: #171629;
  --indigo: #1f1d35;
  --grey: #202c33;
  --gradient: linear-gradient(135deg, #613DC1, #0A88C2);
}

body {
    font-family: var(--font);
    background-position: center;
    background-size: cover;
    width: 1366px;
    height: 768px;
    color: var(--light);
    background-color: var(--dark-violet);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.header__name {
  display: flex;
  align-items: center;
  color: var(--light);
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-shadow: 0 0 10px var(--blue-violet-soft), 0 0 40px var(--blue-violet-soft), 0 0 80px var(--blue-violet-soft);
  width: 50%;
  height: 100%;
  text-decoration: none;
}

.menu__user {
  width: 50%;
  height: 100%;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__select {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.menu__item a{
  position: relative;
  display: inline-block;
  padding: 10px 22px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.2s;
}

.menu__item a:hover{
  background-color: var(--blue-violet-soft);
  box-shadow:  0 0 25px var(--blue-violet-soft), 
               0 0 50px var(--blue-violet-soft), 
               0 0 75px var(--blue-violet-soft);
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a .neon1 {
  top: 0%;
  left: -100%;
  width: 100%;
  height: 2px;
  background-image: linear-gradient( 90deg, transparent, var(--blue-violet-soft) );
}

.menu__item a:hover .neon1 {
  left: 100%;
  transition: 1s;
}

a .neon2 {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background-image: linear-gradient( 180deg, transparent, var(--blue-violet-soft) );
}

.menu__item a:hover .neon2 {
  top: 100%;
  transition: 1s;
  transition-delay: .25s;
}

a .neon3 {
  bottom: 0%;
  right: -100%;
  width: 100%;
  height: 2px;
  background-image: linear-gradient( 2700deg, transparent, var(--blue-violet-soft) );
}

.menu__item a:hover .neon3 {
  right: 100%;
  transition: 1s;
  transition-delay: .5s;
}

a .neon4 {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background-image: linear-gradient( 360deg, transparent, var(--blue-violet-soft) );
}

.menu__item a:hover .neon4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: .75s;
}

.menu__container {
  width: 100%;
  height: 100%;
}


.menu__item a {
  color: var(--light);
  text-decoration: none;
}
/* |---- Fin del menu ----| */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 685px;
    background-image: url('../source/img/svg/fondo3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -129px;
    margin-top: 30px;
    
}

.register {
    width: 60%;
    border: 3px solid var(--blue-violet-soft);
    border-radius: 50px 15px;
    background-image: linear-gradient(180deg, var(--dark-violet) 20%, var(--blue-violet-soft) 100%);
}

.register__title {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}

.register_container {
    display: flex;
    justify-content: center;
}

.register__block {
    height: 25rem;
    width: 30%;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: transparent;
}

.one {
    padding-top: 3rem;
    margin-left: 5rem;
}

.two {
    padding-top: 3rem;
    margin-right: 5rem;
}

.register__block--son {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    font-size: 15px;
}

label {
    display: block;
    width: 60%;
    padding: .5rem;
    background-color: transparent;
}

.register__block--input[type='text'],
.register__block--input[type='number'],
.register__block--input[type='text'],
.register__block--input[type='text'] {
    width: 20rem;
    height: 4rem;
    padding: 0.5rem;
    color: var(--light);
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 2rem;
    border-color: white;
}

[type='file'] {
  margin-top: 15px;
  background-color: transparent;  
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    border-radius: .3rem;
}

select {
    width: 20rem;
    height: 4rem;
    padding: 0.5rem;
    color: var(--light);
    background-color: rgba(255, 255, 255, 20%);
    box-shadow: .3rem .3rem .2rem rgba(0, 0, 0, 20%);
    border-radius: 2rem;
    border-color: white;
}

select option {
    padding: 0.5rem;
    color: black;
}

select::placeholder {
    color: white;
}


.register__block--cta {
    text-align: center;
    align-items: center;
}

.register__block--link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--light);
    background-color: transparent;
}

.register__block--button {
    width: 20rem;
    height: 5rem;
    padding: 0.5rem;
    color: inherit;
    background-color: rgba(255, 255, 255, 20%);
    border: none;
    border-left: 8px solid var(--light);
    margin-top: 75px;
    font-size: 20px;
}

.correcto {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 96%;
  height: 100%;
  background-color: #3FA846;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  border-radius: 15px;
  padding: 10px;
}

.error {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  font-size: 1.4rem;
  width: 90%;
  height: 30%;
  margin: auto;
  margin-bottom: 15px;
  background-color: #df1526;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border-radius: 50px 15px;
}

.error figure {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.error figure img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.correcto {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 96%;
  height: 100%;
  margin: auto;
  margin-bottom: 15px;
  background-color: #3FA846;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  border-radius: 50px 15px;
  padding: 12px;
}