/* |---- Imporatando la fuente ----| */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;700&family=Righteous&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}


/* a {
  color: white;
  text-decoration: none;
} */

html {
    font-size: 62.5%
}

:root {
    --font: 'Righteous', cursive;
    --black-blue: #0A88C2;
    --soft-blue: #858AE3;
    --plump-violet: #613DC1;
    --blue-violet-soft: #4E148C;
    --blue-violet-dark: #5B0D6D;
    --blue-violet-shadow: #2c0036;
    --light: #ffffff;
    --dark-violet: #171629;
    --indigo: #1f1d35;
    --grey: #202c33;
    --gradient: linear-gradient(135deg, #613DC1, #0A88C2);
}

body {
    font-family: var(--font);
    background-position: center;
    background-size: cover;
    width: 1366px;
    height: 768px;
    color: var(--light);
    background-color: var(--dark-violet);
    overflow-x: hidden;
}

.main {
    background-position: center;
    background-size: cover;
    height: 768px;
    width: 1366px;
    background-image: url("../source/img/svg/fondo3.svg");
    background-repeat: no-repeat;
}


/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0px 20px;
    margin-bottom: 50px;
}

.header__name {
    display: flex;
    align-items: center;
    color: var(--light);
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-shadow: 0 0 10px var(--blue-violet-soft), 0 0 40px var(--blue-violet-soft), 0 0 80px var(--blue-violet-soft);
    width: 50%;
    height: 100%;
    text-decoration: none;
}

.menu__user {
    width: 50%;
    height: 100%;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__select {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__user {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.menu__item a {
    position: relative;
    display: inline-block;
    padding: 10px 22px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s;
}

.menu__item a:hover {
    background-color: var(--blue-violet-soft);
    box-shadow: 0 0 25px var(--blue-violet-soft), 0 0 50px var(--blue-violet-soft), 0 0 75px var(--blue-violet-soft);
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a .neon1 {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon1 {
    left: 100%;
    transition: 1s;
}

a .neon2 {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon2 {
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}

a .neon3 {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(2700deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon3 {
    right: 100%;
    transition: 1s;
    transition-delay: .5s;
}

a .neon4 {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(360deg, transparent, var(--blue-violet-soft));
}

.menu__item a:hover .neon4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}

.menu__container {
    width: 100%;
    height: 100%;
}

.menu__item a {
    color: var(--light);
    text-decoration: none;
}

.logo_admin {
    width: 50px;
    height: 50px;
}

.menu__item_admin {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__item_admin h5 {
    font-size: 2rem;
    color: #ffffff;
}


/* end header */

.register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 52px;
    background-color: transparent;
}

.register__title {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
}

.register__block {
    height: 25rem;
    width: 40%;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: transparent;
}

.one {
    width: 271.74px;
    height: 640px;
    left: 20px;
    top: 21px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--indigo);
    border: 2px solid var(--black-blue);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--black-blue), 0 0 4px var(--black-blue), 0 0 6px var(--black-blue);
}

.header__logo {
    height: 100px;
    width: 100px;
    margin-right: 100px;
}

.line {
    height: 1px;
    width: 250px;
    left: 20px;
    top: 100px;
    background: var(--light);
}

.info__user {
    height: 156px;
    width: 240px;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    border: 3px solid var(--blue-violet-soft);
    border-radius: 30px 15px;
    background-image: linear-gradient(180deg, var(--dark-violet) 0%, var(--blue-violet-soft) 100%);
}

.info__user .icon_user {
    height: 40px;
    width: 40px;
}

.username {
    display: flex;
    align-items: center;
}

.username .icon_user {
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.username .icon_pb {
    width: 30px;
    height: 32px;
    margin-left: 35px;
    margin-right: 25px;
    margin-top: 10px;
}

.username .icon_pp {
    width: 30px;
    height: 32px;
    margin-left: 35px;
    margin-right: 25px;
    margin-top: 10px;
}

.username h3 {
    font-size: 15px;
}

.update_info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 240px;
    border-radius: 5px;
    margin-top: 20px;
    border: 3px solid var(--black-blue);
    border-radius: 30px 15px;
    background-image: linear-gradient(180deg, var(--dark-violet) 0%, var(--black-blue) 100%);
}

.my_nft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 240px;
    border-radius: 5px;
    margin-top: 20px;
}

.my_balance {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 240px;
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 30px 15px;
}

.my_balance .icon_update {
    width: 40px;
    height: 42px;
    margin-right: 41px;
}

.my_balance .link_update {
    text-decoration: none;
    font-size: 15px;
    color: var(--light);
}

.update_info .link_update {
    color: var(--light);
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 240px;
    border-radius: 5px;
    margin-top: 20px;
}

.logout .link_update {
    text-decoration: none;
    font-size: 15px;
    color: var(--light);
}

.logout .icon_logout {
    width: 35px;
    height: 37px;
    margin-right: 35px;
}

.update_info .icon_update {
    width: 40px;
    height: 42px;
    margin-right: 15px;
}

.update_info .link_update {
    text-decoration: none;
    font-size: 15px;
}

.my_nft .icon_update {
    width: 40px;
    height: 42px;
    margin-right: 40px;
}

.my_nft .link_update {
    text-decoration: none;
    font-size: 15px;
    color: var(--light);
}

.update_info .icon_logout {
    width: 35px;
    height: 37px;
    margin-right: 35px;
}

.acount h3 {
    margin-top: 25px;
    font-size: 15px;
    margin-right: 150px;
    margin-bottom: 10px;
}

.two {
    padding-top: 3rem;
    background-color: transparent;
    height: 500px;
    width: 1031px;
    left: 311px;
    margin-right: 35px;
    border: 2px solid var(--black-blue);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--black-blue), 0 0 4px var(--black-blue), 0 0 6px var(--black-blue);
}

.register__group {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-top: 20px;
}

label {
    display: block;
    width: 50%;
    padding: .5rem;
    background-color: transparent;
    font-size: 15px;
}

.register__block--input[type='text'],
.register__block--input[type='password'],
.register__block--input[type='email'],
.register__block--input[type='date'] {
    width: 300px;
    height: 45px;
    padding: 0.5rem;
    color: var(--light);
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 2rem;
    border-color: white;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    border-radius: .3rem;
}

select {
    width: 20rem;
    height: 3rem;
    padding: 0.5rem;
    color: var(--cta);
    background-color: rgba(255, 255, 255, 20%);
    box-shadow: .3rem .3rem .2rem rgba(0, 0, 0, 20%);
    border-radius: 1rem;
    border-color: white;
}

select option {
    padding: 0.5rem;
    color: black;
}

select::placeholder {
    color: white;
}

.user_update {
    display: flex;
    margin-top: 50px;
}
.user_update1 {
    display: flex;
    margin-top: 50px;
}

.register__input--error {
    margin-top: 10px;
    font-size: 12px;
    display: none;
}

.register__input--error-active {
    display: block;
}

.form__validation--state {
    position: relative;
    right: 35px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.register__message {
    width: 40%;
    height: 40px;
    line-height: 40px;
    margin: 50px auto 0;
    font-size: 1.5rem;
    background-color: #bb2929;
    border-radius: 5px;
    display: none;
}

.register__message-active {
    display: block;
}

.register__block--cta {
    width: 100%;
    padding: 50px;
    text-align: center;
    align-items: center;
}

.register__block--button {
    height: 40px;
    width: 40%;
    border-radius: 20px;
    margin: auto;
    background: linear-gradient(90deg, #0A88C2 18.2%, #613DC1 103.29%);
    font-size: 17px;
    color: var(--light);
}

.register__block--link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--cta);
    background-color: transparent;
}

.register__complete {
    width: 40%;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0;
    font-size: 1.5rem;
    background-color: #1ed12d;
    border-radius: 5px;
    display: none;
}

.register__complete-active {
    display: block;
}


/* styles for validations */

.register__group--correct .form__validation--state {
    color: #1ed12d;
    opacity: 1;
}

.register__group--incorrect .register__block--label {
    color: #bb2929;
}

.register__group--incorrect .form__validation--state {
    color: #bb2929;
    opacity: 1;
}

.form__hidden {
    display: none;
}

.log-out__btn  {
    font-size: 1.6rem;
    color: white;
    font-size: var(--font);
    position: relative;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 240px;
    border-radius: 5px;
    margin-top: 20px;
    border: 3px solid var(--black-blue);
    border-radius: 30px 15px;
    background-image: linear-gradient(180deg, var(--dark-violet) 0%, var(--black-blue) 100%);
    cursor: pointer;
}

.group__input {
    border: blue;
}